* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main--container {
  background-color: rgb(49, 49, 49);
  height: 150px;
  width: 40%;
  border-radius: 12px;
  padding: 20px;
  margin: 5px;
}

.container--contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.container--box {
  width: 18%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.container--content {
  color: white;
  font-size: 1.1rem;
}

.date--head {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.NameOfTopic {
  width: 70%;
  color: white;
  font-size: 2rem;
}

.container--time {
  border: 2px solid white;
  width: 12%;
  height: 30px;
  background: purple;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
