* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container--box {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.container--content {
  color: white;
  font-size: 1.1rem;
}

.date--head {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
